
{% load static %}
{% block content %}
  <!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Formulário</title>
      <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body>
      {% if user.is_authenticated  %}
        <button id="menu-toggle" onclick="toggleSidebar()" class="menu-toggle" style="
        margin-left: 0px;
        margin-top: 0px;
        ">☰ Menu</button>
        
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
          <button class="close-toggle" onclick="toggleSidebar()">✖</button>
          <a href="{% url 'produto_list' %}"><button>Maleta</button></a>
          <a href="{% url 'new_cadastro' %}"><button>Cadastro</button></a>
          <a href="{% url "dashboard" %}"><button>Admin</button></a>
        </aside>
      {% endif %}

      <div class="container">
        <h1>Cadastro Consultora</h1>
        <form method="post">
          {% csrf_token %}

          <label for="nome">Nome:</label>
          {{new_form.nome}}

          <label for="rg">RG:</label>
          {{new_form.rg}}

          <label for="email">Email:</label>
          {{new_form.email}}

          <label for="cpf">CPF:</label>
          {% comment %} <input type="text" name="cpf" id="cpf" onchange="validarCPF()" value="{{ new_form.cpf.value|default_if_none:'' }}" placeholder="Digite o CPF" /> {% endcomment %}
          {{new_form.cpf}}

          <label for="telefone1">Telefone:</label>
          {{new_form.telefone}}

          <label for="telefone2">Telefone 2:</label>
          {{new_form.telefone_2}}

          <label for="instagram1">Instagram:</label>
          {{new_form.instagram}}

          <label for="id_cep">CEP</label>
          {{new_form.cep}}
          {% comment %} <input type="text" name="cep" id="cep" onchange="BuscaCep()" value="{{ new_form.cep.value|default_if_none:'' }}" placeholder="Digite o CEP" /> {% endcomment %}

          <label for="rua">Rua</label>
          {{new_form.rua}}
          {% comment %} <input type="text" name="rua" id="logradouro" value="{{ new_form.rua.value|default_if_none:'' }}" /> {% endcomment %}

          <label for="bairro">Bairro</label>
          {{new_form.bairro}}
          {% comment %} <input type="text" name="bairro" id="bairro" value="{{ new_form.bairro.value|default_if_none:'' }}"  /> {% endcomment %}

          <label for="numero">Número</label>
          {{new_form.numero}}

          <label for="cidade">Cidade</label>
          {{new_form.cidade}}
          {% comment %} <input type="text" name="cidade" id="localidade" value="{{ new_form.cidade.value|default_if_none:'' }}" /> {% endcomment %}

          <input type="submit" value="Cadastrar">
          {% comment %} <button type="submit" onclick="Salvar()" value="Cadastrar">Cadastrar</button> {% endcomment %}
        </form>
      </div>
      <script src="{% static 'Js/cadastro.js' %}"></script>
      <script src="{% static 'Js/home.js' %}"></script>
    </body>
  </html>
{% endblock %}
