{% load static %}

{% block content %}
  <!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Formulário</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body>
      <button id="menu-toggle" onclick="toggleSidebar()" class="menu-toggle" style="
    margin-left: 0px;
    margin-top: 0px;
">☰ Menu</button>

      <!-- Sidebar -->
      <aside class="sidebar" id="sidebar">
        <button class="close-toggle" onclick="toggleSidebar()">✖</button>
        <a href="{% url 'produto_list' %}"><button onclick="handleClick('Maleta')">Maleta</button></a>
        <a href="{% url 'new_cadastro' %}"><button onclick="handleClick('Cadastro')">Cadastro</button></a>
        <a href="#"><button onclick="handleClick('Admin')">Admin</button></a>
      </aside>

      <div class="container">
        <h1>Cadastro Consultora</h1>
        <form method="post">
          {% csrf_token %}
          <label for="nome">Nome:</label>
          {{ new_form.nome }}

          <label for="rg">RG:</label>
          {{ new_form.rg }}

          <label for="cpf">CPF:</label>
          {{ new_form.cpf }}

          <label for="telefone1">Telefone:</label>
          {{ new_form.telefone }}

          <label for="telefone2">Telefone 2:</label>
          {{ new_form.telefone_2 }}

          <label for="instagram1">Instagram:</label>
          {{ new_form.instagram }}

          <label for="id_cep">CEP</label>
          <input type="text" name="cep" id="cep" onchange="BuscaCep()" value="{{ new_form.cep.value|default_if_none:'' }}" placeholder="Digite o CEP" />

          <label for="rua">Rua</label>
          <input type="text" name="rua" id="logradouro" value="{{ new_form.rua.value|default_if_none:'' }}" readonly />

          <label for="bairro">Bairro</label>
          <input type="text" name="bairro" id="bairro" value="{{ new_form.bairro.value|default_if_none:'' }}" readonly />

          <label for="numero">Número</label>
          {{ new_form.numero }}

          <label for="cidade">Cidade</label>
          <input type="text" name="cidade" id="localidade" value="{{ new_form.cidade.value|default_if_none:'' }}" />

          <button type="submit" onclick="Salvar()" value="Cadastrar">Cadastrar</button>
        </form>
      </div>
      <script src="{% static 'Js/cadastro.js' %}"></script>
      <script src="{% static 'Js/home.js' %}"></script>
    </body>
  </html>
{% endblock %}
