{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Ternos</title>
    <link rel="icon" href="1.png" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>

  <body>
    <header>
      <h1>Dashboard</h1>
    </header>

    <main>
      <div id="menu">
        <input type="button" value="Home" />
        <input type="button" value="Mostruario" />
        <input type="button" value="Contabilidade" />
        <input type="button" value="Admin" />
      </div>
    </main>

    <div class="centro">

      <div class="box">
        <div class="quadro-com-titulo">
          <span class="titulo">Vendedoras</span>
          <p>Conteúdo do quadro</p>
        </div>
      </div>

      <div class="box">
        Vendedoras <br /> <p>{ numero de vendedoras cadastrada}</p>
      </div>
      

      <div class="box">Venda mensal</div>

      <div class="box">hellou</div>

    </div>

    

  </body>
</html>
