{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" href="1.png" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    
  </head>

  <body>
    <header>
      
    </header>

    <main>
      <div id="menu">
        <a href="{% url 'home_list' %} "><button>Home</button></a>
        <a href="{% url 'produto_list' %} "><button>Mostruario</button></a>
        <a href="{% url 'visualizar_venda' %}"><button>Vendas</button></a>
        <div class="dropdown">
          <button class="dropbtn">Admin</button>
          <div class="dropdown-content">
            <a href="{% url "new_cadastro" %}">Nova Consultora</a>
            <a href="{% url "registro" %}">Novo Usuario</a>
          </div>
        </div>
        
        {% comment %} <input type="button" value="Admin" /> {% endcomment %}
      </div>
    </main>
    <h1 style="text-align: center;">Dashboard</h1>
    <div class="centro">
      <div class="box">
        <div class="card">
          <div class="card-title">Vendedoras</div>
          <div class="card-content">{{ total }}</div>
        </div>
      </div>

      <div class="box">
        <div class="card">
          <div class="card-title">Venda de {{ mes }}</div>
          <div class="card-content">R$ {{ totalVenda }}</div>
        </div>
      </div>

      <div class="box">
        <div class="card">
          <div class="card-title">Comissão de {{ mes }}</div>
          <div class="card-content">R$ {{ comissao }}</div>
        </div>
      </div>

      <div class="box" style="display: none;">
        <div class="card">
          <div class="card-title">Não tenho ideia do que colocar</div>
          <div class="card-content">{{ quantidadeVenda }}</div>
        </div>
      </div>

    </div>
  </body>
</html>
