* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  background-color: white;
  padding: 30px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin-top: 30px;
  margin-left: 40%;
  padding: 12px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}

button:hover {
  background-color: #0056b3;
}

#bairro {
  background-color: #d6d6d6;
}

#logradouro {
  background-color: #d6d6d6;
}

.sidebar {
  background-color: #d4af37;
  color: white;
  padding: 20px;
  width: 200px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar button {
  display: block;
  margin: 15px 0;
  padding: 10px;
  background-color: white;
  color: #d4af37;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #f4e4b3;
}

/* Button */

.menu-toggle {
  /* position: fixed; */
  top: 20px;
  background-color: #d4af37;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  /* z-index: 1001; */
}

/* Botão de fechar a sidebar */
.close-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: #d4af37;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Conteúdo principal */
.content {
  margin-left: 200px;
  padding: 20px;
  flex: 1;
}

.sidebar.active {
  transform: translateX(0);
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(0);
    position: relative;
    width: 100%;
    height: auto;
  }

  .menu-toggle {
    display: none;
  }

  .content {
    margin-left: 0;
  }

  /* Botão de fechar a sidebar */
  .close-toggle {
    display: none;
  }
}

/* DESKTOP: sidebar oculta por padrão, aparece ao clicar */
@media (min-width: 769px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }

  .content {
    margin-left: 0;
  }
}