{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Semijoias</title>
  </head>
  <body>

    {% comment %} {% if user.is_authenticated  %}
    <button id="menu-toggle" onclick="toggleSidebar()" class="menu-toggle" style="
    margin-left: 0px;
    margin-top: 20px;
    position: absolute;
    ">☰ Menu</button>
    
    <!-- Sidebar -->
    <aside class="sidebar" id="sidebar">
      <button class="close-toggle" onclick="toggleSidebar()">✖</button>
      <a href="{% url 'dashboard'%}"><button style="color: #419881;">HOME</button></a>
      <a href="{% url 'produto_list' %}"><button style="color: #419881;">Maleta</button></a>
      <a href="{% url 'new_cadastro' %}"><button style="color: #419881;">Cadastro</button></a>
    </aside>
      {% endif %} {% endcomment %}

      <main>
        <div id="menu">
          <a href="{% url 'home_list' %} "><button>Home</button></a>
          <a href="{% url 'produto_list' %} "><button>Mostruario</button></a>
          <a href="{% url 'visualizar_venda' %}"><button>Vendas</button></a>
          <a href="{% url 'dashboard' %}"><button>Dashboard</button></a>
          <div class="dropdown">
            {% if user.is_superuser %}
            
            <button class="dropbtn">Admin</button>
            <div class="dropdown-content">
              <a href="{% url "new_cadastro" %}">Nova Consultora</a>
              <a href="{% url "registro" %}">Novo Usuario</a>
            </div>
            {% endif %}
          </div>
          
          {% comment %} <input type="button" value="Admin" /> {% endcomment %}
        </div>
      </main>

    <!-- Aqui entra o conteúdo do filho -->
    {% block content %}
    {% endblock %}

    <script src="{% static 'JS/home.js' %}"></script>
  </body>
</html>

