{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Semijoias</title>
  </head>
  <body>

    {% if user.is_authenticated  %}
    <button id="menu-toggle" onclick="toggleSidebar()" class="menu-toggle" style="
    margin-left: 0px;
    margin-top: 0px;
    ">☰ Menu</button>
    
    <!-- Sidebar -->
    <aside class="sidebar" id="sidebar">
      <button class="close-toggle" onclick="toggleSidebar()">✖</button>
      <a href="{% url 'home_list'%}"><button style="color: #419881;">HOME</button></a>
      <a href="{% url 'produto_list' %}"><button style="color: #419881;">Maleta</button></a>
      <a href="{% url 'new_cadastro' %}"><button style="color: #419881;">Cadastro</button></a>
    </aside>
      {% endif %}

    <!-- Aqui entra o conteúdo do filho -->
    {% block content %}
    {% endblock %}

    <script src="{% static 'JS/home.js' %}"></script>
  </body>
</html>

